html {
    overflow: scroll;
}

body {
    height: 1000px;
    background-color: RGB(49, 60, 116);
}

.jumbotron {
    background-image: url("http://i3.kym-cdn.com/photos/images/facebook/000/862/065/0e9.jpg")
}

.container {
    width: 100%;
    margin: 10px;
}

#Jumbotron-header {
    text-align: center;
}

.info {
   background-color: lightgray;
}

